body {
    margin: 30px;
    background-color: #fff;
}
.input_row {
    margin-bottom: 15px;
}
.input_row:last-child {
    margin-bottom: 0;
}
.input_row > span {
	position: relative;
    display: inline-flex;
    margin: 0;
}
.input_row input,
.input_row textarea,
.input_row label {
	-webkit-transition: all .2s;
	transition: all .2s;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
.input_row input,
.input_row textarea {
	width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
	padding: 5px 20px;
	background-color: #ecf1f7;
	border-radius: 4px;
    border: 0;
    outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #333;
}
.input_row input {
    height: 56px;
}
.input_row textarea {
    min-width: 260px;
    max-width: 260px;
    min-height: 100px;
    height: 100px;
    max-height: 250px;
}
.input_row input:hover,
.input_row textarea:hover {
	background-color: #e8eef6;
}
.input_row label {
    position: absolute;
    height: 16px;
	color: #333;
	line-height: 1;
    pointer-events: none;
}
.input_row label > span {
    font-size: 12px;
    vertical-align: top;
}
.input_row input + label {
    top: calc(50% - 8px);
	left: 20px;
}
.input_row textarea + label {
    top: 20px;
	left: 20px;
}
.input_row input.focus,
.input_row textarea.focus {
    background-color: transparent;
    border: 1px solid #e8eef6;
    padding: 30px 20px 5px;
}
.input_row input[data-status="error"],
.input_row textarea[data-status="error"] {
    background-color: rgb(255, 219, 219);
}
.input_row input[data-status="ready"] ~ span,
.input_row textarea[data-status="ready"] ~ span {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 25px;
    height: 25px;
    background: url('ic.svg') no-repeat center;
}
.input_row input.focus + label,
.input_row textarea.focus + label {
    top: 10px;
    font-size: 14px;
}
.errors {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ff2828;
}